name: Booster Release

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  release:
    permissions:
      contents: write
      packages: write
    uses: ./.github/workflows/release.yml
    with:
      image_name: booster
      languages: "go,ts,py"
      dockerfile: ./Dockerfile
      publish_to_dockerhub: true
      push_git_tag: true
      test_command: "go test -v ./..."
    secrets: inherit
